@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
/*------------
 common style
 ------------- */
 body{
    font-family: 'Poppins', sans-serif;
 }
 *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
 }
 a{
    text-decoration: none;
 }
.container{
    background-color: #FFFFFF;
    width: 90%;
    border-radius: 5px;
    margin: 0 auto;
    padding-top: 40px;
}
/* media querries */
@media only screen and (min-width: 688px) and (max-width:992px) {
    .container {
        width: 100%;
        align-items: center;
        justify-content: center;
    }
.banner_item,
.articles,
.foot-sec_part,
.upcoming-match 
{
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
}
    .banner_img,
    .banner_img .banner_img,
    .blog,
    .foot_part ul li a,
    .matches {
            flex-direction: column;
        
}
.banner_img img {
    
    display: block;
}
.top-p {
    white-space: nowrap;
    width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;

}
.side_bar ul{
        position: relative;
        background-color: white;
            
    }
.side_bar{
margin-top: 40px;
}
.banner_item{
    padding-left: 50px;
}

.banner_item h1{
    font-size: 40px;
    line-height: 50px;
}

.side_bar ul{
        display: flex;
        width: 100%;
        justify-content:space-between;
        align-items: center;
        flex-direction: row;
        height: auto;


}

.side_bar ul li a{
    padding: 10px 20px;
    
}
}
/* banner part start */
.banner_item{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-image: linear-gradient(black, black);
    flex-direction: column;
    color: white;
    align-items: flex-end;
    border-radius: 15px;
    justify-items: center;
    width: 100%;
    height: auto;
}
.banner_text{
    align-items: center;
    justify-content: center;
    padding-left: 134px;
    margin: 50px 0;
}
.banner_title{
    font-size: 70px;
    line-height: 80px;
    padding-bottom: 20px;
}
.banner_info{
    font-size: 14px;
    padding-bottom: 40px;
}
.banner_btn{
    margin-bottom: 70px;
    list-style: none;
}
.banner_btn a{
    font-weight: 500;
    color: white;
    padding: 10px 20px;
    background-color: red;
    text-decoration: none;
    border-radius: 5px;
}
.banner_img img{
    height: 500px;
}
.blog{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-gap: 15px;
    margin-top: 100px;
}
/* article part start */
#article{
    margin-top: 70px;
    display: flex;
    margin-bottom: 150px;
}
.side_bar{
   width: 25%;
   text-align: center;
   
}
.side_bar ul{
    padding: 20px 15px;
    background-color: rgb(16, 19, 19);
    margin-right: 25px;
    border-radius: 10px;
}
.side_bar ul li {
    padding: 16px 40px;
    background-color: #FFFFFF;
    border-radius: 20px;
    margin-top: 15px;

}
.side_bar ul li:hover{
    color: #FFFFFF;
    background-color: red;
}
.side_bar ul li a{
    padding-top: 10px;
    color:#000;
    font-size: 18px;
    font-weight: 400;
}
.articles{
    width: 75%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 25px;
}
.article{
    border: 1px solid rgba(23, 21, 21, 0.294);
    border-radius: 10px;
}
.art_text{
    padding-left: 20px;
}
.art_btn{
    padding: 15px 0;
}
.art_btn a{
    color: #000;
    padding: 5px 10px;
    border: 1px solid rgba(0, 0, 0, 0.393);
    border-radius: 2px;
}
.art_last p{
    display: inline-block;
    padding: 10px 15px;
}
/* article part end */

/* footer part start */
#footer{
    background-color: rgb(16, 19, 19);
    color: #b9969643;
}
.foot_part{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.foot_part hr{
    color: #b9969643;
}
.foot_part h2{
    padding-top: 100px;
    padding-bottom: 50px;
}
.foot_end ul li{
    display: inline-block;
    padding: 30px 15px;
}
.foot_icon a{
    color:#b9969643 ;
}
.foot_icon i{
    padding: 20px 55px;
    font-size: 35px;
}
/* footer part end */
/* match html part */
.matches{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 65px;
    grid-row-gap: 40px;
}
.match{
    border: 1px solid rgba(23, 21, 21, 0.294);
    border-radius: 10px;
    padding: 10px 20px;
}
.match_info{
    text-align: center;
    padding: 15px 0;
}